name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.5'

      - name: Install dependencies
        run: flutter pub get
        working-directory: my_ert_app

      - name: Build APK
        run: flutter build apk --release
        working-directory: my_ert_app

      - uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: my_ert_app/build/app/outputs/flutter-apk/app-release.apk
